<!DOCTYPE html>
<html>
<head>
    <title>XSS-Test</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
<body>
    <div class="wrapper">
        {{{body}}}
    </div>
</body>
</html>
